* {
  mark: symbol(circle);
  mark-size: [min(18, 5 + sqrt(100000 / env('wms_scale_denominator', 10000)) * 1.5)];
  :mark {
    fill: #E91E63;
    stroke: #FFFFFF;
    stroke-width: 1.0;
    stroke-opacity: 1.0;
    fill-opacity: 1.0;
  }
}