* {
  mark: symbol(circle);
  mark-size: [min(18, 5 + sqrt(100000 / env('wms_scale_denominator', 10000)) * 1.5)];
  :mark {
    fill: #2196F3;
    stroke: #FFFFFF;
    stroke-width: 1.5;
    stroke-opacity: 1.5;
    fill-opacity: 1.5;
  }
}