* {
  mark: url("water_play_sign.svg");
  mark-mime: "image/svg+xml";
  mark-size: [min(18, 5 + sqrt(100000 / env('wms_scale_denominator', 10000)) * 4.0)];
  mark-anchor: 0.5 0.5;
  mark-offset: 0 0;

  label: [sign_nm];
  font-size: 14;
  font-fill: #0369A1;
  font-weight: bold;
  font-family: "Nanum Gothic", "Malgun Gothic", "SansSerif";
  halo-radius: 2;
  halo-color: #FFFFFF;
  label-anchor: 0.5 1.0;
  label-offset: 0 -16;
}
