{
  "ser": [
    {
      "ser_key": null,
      "ser_dep1": null,
      "ser_dep2": null,
      "ser_kor": "단면도",
      "ser_eng": "crossSection",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null
    },
    {
      "ser_key": null,
      "ser_dep1": null,
      "ser_dep2": null,
      "ser_kor": "내려받기",
      "ser_eng": "downloadData",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null
    },
    {
      "ser_key": null,
      "ser_dep1": null,
      "ser_dep2": null,
      "ser_kor": "필지분석",
      "ser_eng": "parcelAnalysis",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null
    },
    {
      "ser_key": null,
      "ser_dep1": null,
      "ser_dep2": null,
      "ser_kor": "지도통계",
      "ser_eng": "mapState",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null
    },
    {
      "ser_key": null,
      "ser_dep1": null,
      "ser_dep2": null,
      "ser_kor": "정사영상",
      "ser_eng": "tifManager",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null
    },
    {
      "ser_key": null,
      "ser_dep1": null,
      "ser_dep2": null,
      "ser_kor": "상수관로",
      "ser_eng": "wtl_pipe_lm",
      "ser_type": "layer",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null
    },
    {
      "ser_key": null,
      "ser_dep1": null,
      "ser_dep2": null,
      "ser_kor": "상수맨홀",
      "ser_eng": "wtl_manh_ps",
      "ser_type": "layer",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null
    },
    {
      "ser_key": null,
      "ser_dep1": null,
      "ser_dep2": null,
      "ser_kor": "하수관로",
      "ser_eng": "swl_pipe_lm",
      "ser_type": "layer",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null
    },
    {
      "ser_key": null,
      "ser_dep1": null,
      "ser_dep2": null,
      "ser_kor": "하수맨홀",
      "ser_eng": "swl_manh_ps",
      "ser_type": "layer",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null
    },
    {
      "ser_key": null,
      "ser_dep1": null,
      "ser_dep2": null,
      "ser_kor": "정사영상",
      "ser_eng": "tif_unit",
      "ser_type": "layer",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null
    }
  ]
}
