{
  "ser": [
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "데이터 조회",
      "ser_eng": "dataQuery",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "3D 데이터",
      "ser_eng": "data3d",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"m2 8 10 4 10-4-10-4z\"/><path d=\"m2 16 10 4 10-4\"/></svg>"
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "필지분석",
      "ser_eng": "parcelAnalysis",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "지도통계",
      "ser_eng": "mapState",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M3 3v18h18\"/><path d=\"M7 16v-5\"/><path d=\"M12 16v-9\"/><path d=\"M17 16v-2\"/></svg>"
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "고화질 영상",
      "ser_eng": "tifManager",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "민원관리",
      "ser_eng": "complaint",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2\"/><circle cx=\"9\" cy=\"7\" r=\"4\"/><path d=\"M22 21v-2a4 4 0 0 0-3-3.87\"/><path d=\"M16 3.13a4 4 0 0 1 0 7.75\"/></svg>"
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "메모관리",
      "ser_eng": "memo",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": true,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z\"/><path d=\"M14 2v6h6\"/><path d=\"M16 13H8\"/><path d=\"M16 17H8\"/><path d=\"M10 9H8\"/></svg>"
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "단면도",
      "ser_eng": "crossSection",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M2 12h20\"/><path d=\"M6 8v8\"/><path d=\"M10 6v12\"/><path d=\"M14 10v4\"/><path d=\"M18 4v16\"/></svg>"
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "급수공사",
      "ser_eng": "waterSupplyWork",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M12 2.69l5.66 5.66a8 8 0 1 1-11.31 0z\"/></svg>"
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "상수도 공사대장",
      "ser_eng": "waterworksLedger",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z\"/><path d=\"M14 2v6h6\"/><path d=\"M16 13H8\"/><path d=\"M16 17H8\"/><path d=\"M10 9H8\"/></svg>"
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "기본계획도",
      "ser_eng": "riverBasicPlan",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "하천점용",
      "ser_eng": "usageDataAs",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "점사용료",
      "ser_eng": "useFee",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "하천점용",
      "ser_eng": "riverUseLedger",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "영상조회",
      "ser_eng": "aerialView",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "영상관리",
      "ser_eng": "aerialManage",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "드론영상",
      "ser_eng": "aerialOrtho",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "사진,동영상",
      "ser_eng": "aerialDrone",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "파노라마",
      "ser_eng": "aerialPanorama",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "항공영상",
      "ser_eng": "aerialSatellite",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "촬영요청",
      "ser_eng": "shootingRequest",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "승인관리",
      "ser_eng": "shootingApproval",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "공사대장",
      "ser_eng": "riverConstructionLedger",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "부과체납",
      "ser_eng": "riverTax",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "보상편입용지",
      "ser_eng": "riverReward",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "재난안전지도",
      "ser_eng": "safetyMap",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "실시간 재난정보",
      "ser_eng": "safetyInfo",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "침수현황",
      "ser_eng": "safetyWater",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "재난대응시설",
      "ser_eng": "safetyFac",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "도로교통현황",
      "ser_eng": "roadFlow",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "병상정보",
      "ser_eng": "safetyBedState",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "저수지 수위",
      "ser_eng": "jsjWaterLevel",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "농수로 수위",
      "ser_eng": "nsrWaterLevel",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "도로대장",
      "ser_eng": "roadLedger",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "도로망도",
      "ser_eng": "roadNetwork",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><circle cx=\"6\" cy=\"19\" r=\"3\"/><path d=\"M9 19h8.5a3.5 3.5 0 0 0 0-7h-11a3.5 3.5 0 0 1 0-7H15\"/><circle cx=\"18\" cy=\"5\" r=\"3\"/></svg>"
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "시설관리",
      "ser_eng": "roadInfra",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "도로점용",
      "ser_eng": "roadUseLedger",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "안전점검",
      "ser_eng": "roadFMS",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "변동이력분석",
      "ser_eng": "roadDataFlow",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "업무자료",
      "ser_eng": "roadDoc",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "교통정보",
      "ser_eng": "roadCCTV",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "국공유지",
      "ser_eng": "buildPublicLand",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "도형편집기",
      "ser_eng": "shapeEditor",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M12 20h9\"/><path d=\"M16.5 3.5a2.12 2.12 0 0 1 3 3L7 19l-4 1 1-4Z\"/></svg>"
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "지히수 개발허가",
      "ser_eng": "underWaterUse",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": null,
      "ser_has_contents": null,
      "ser_has_file": null,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": null,
      "ser_url": null,
      "ser_is_del": null,
      "ser_svg": ""
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "공지사항",
      "ser_eng": "notice",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": true,
      "ser_has_contents": true,
      "ser_has_file": true,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": 900,
      "ser_url": "/notice",
      "ser_is_del": null,
      "ser_svg": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"m3 11 18-5v12L3 14v-3z\"/><path d=\"M11.6 16.8a3 3 0 1 1-5.8-1.6\"/></svg>"
    },
    {
      "ser_menu": null,
      "ser_cat": null,
      "ser_kor": "자료실",
      "ser_eng": "board",
      "ser_type": "service",
      "ser_work_type": null,
      "ser_is_private": true,
      "ser_has_contents": true,
      "ser_has_file": true,
      "ser_data_table": null,
      "ser_data_query": null,
      "ser_idx": 910,
      "ser_url": "/library",
      "ser_is_del": null,
      "ser_svg": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z\"/><path d=\"M14 2v6h6\"/><path d=\"M12 18v-6\"/><path d=\"M9 15l3 3 3-3\"/></svg>"
    }
  ]
}